.app-container {
  display: flex;
}
.content {
  width: 100%;
}

.sidebar {
  height: 100vh;
}

.reactions {
  display: flex;
  align-items: center;
  font-size: 24px;
  margin: 10px 0px 0px 10px;
  gap: 6px;
  cursor: pointer;
}
.create-post {
  width: 80%;
  margin: 20px auto;

}
